.body {
    background-color: aquamarine;
}

.card {
    /* vertical-align: center; */
    margin: 0;
    width: 50%;
    /* border: 3px solid green; */
    border-radius: 20px;
    padding: 10px;
    flex-direction: row;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inputFields {
    padding: 5px;
}

.pallete {
    color: linear-gradient(
        to bottom right,
        #ec7553,
        #f5903f,
        #df3c63,
        #e35063,
        #da2564,
        #dc166c,
        #e45c5c,
        #f18344,
        #dc5c5c
    );
}

.warning {
    color: red;
}
