.body {
    /* background-color: aquamarine; */
    height: 625px;
    background: linear-gradient(
        to bottom right,
        #ec7553,
        #f5903f,
        #df3c63,
        #e35063,
        #da2564,
        #dc166c,
        #e45c5c,
        #f18344,
        #dc5c5c
    );
}

.card {
    margin: 0;
    width: 700px;
    border-radius: 20px;
    padding: 10px;
    flex-direction: row;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inputFields {
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    border-color: #da2564;
    border-width: 5px;
}

::placeholder {
    color: #f5903f;
    font-weight: bold;
}

.pallete {
    align-items: center;
    background: linear-gradient(
        to bottom right,
        #ec7553,
        #f5903f,
        #df3c63,
        #e35063,
        #da2564,
        #dc166c,
        #e45c5c,
        #f18344,
        #dc5c5c
    );
}

.warning {
    color: red;
}
