.body {
    display: flex;
    align-items: center;
    height: 625px;
    justify-content: space-evenly;
    display: flex;
    /* background: linear-gradient(
        to bottom right,
        #ec7553,
        #f5903f,
        #df3c63,
        #e35063,
        #da2564,
        #dc166c,
        #e45c5c,
        #f18344,
        #dc5c5c
    ); */
}

.divider {
    margin-top: 100px;
    border: solid 5px;
    background: black;
    width: 5px;
    border-radius: 50px;
    box-shadow: 10px 10px #454545;
    height: 500px;
}

.view {
    width: 50%;
    color: #dc166c;
    padding-inline: 10px;
    text-align: center;
    font-size: 35px;
}

.fontLink {
    font-family: 'Passion One', cursive;
    font-size: larger;
    padding-inline: 20px;
}
