.main {
    width: 100%;
    bottom: 0;
    position: fixed;
    height: 130px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background: linear-gradient(
        to bottom right,
        #ec7553,
        #f5903f,
        #df3c63,
        #e35063,
        #da2564,
        #dc166c,
        #e45c5c,
        #f18344,
        #dc5c5c
    );
}

.logo {
    width: 90px;
    height: 90px;
}

.title {
    color: white;
}

.group1 {
    margin-inline: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.group2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.group3 {
    margin-inline: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
