.body {
    display: flex;
    align-content: center;
    height: 625px;
    background: linear-gradient(
        to bottom right,
        #ec7553,
        #f5903f,
        #df3c63,
        #e35063,
        #da2564,
        #dc166c,
        #e45c5c,
        #f18344,
        #dc5c5c
    );
}

.card {
    margin: 0;
    width: 55%;
    gap: 40px;
    border-radius: 20px;
    padding: 10px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    top: 65%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.inputFields {
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    border-color: #da2564;
    border-width: 5px;
}

.warning {
    color: red;
}
